---
import Layout from "../layouts/Layout.astro";
import BookSection from "../components/BookSection.astro";
import CommentsSection from "../components/Comments/CommentsSection.astro";
import { slide } from "astro:transitions";
import { books } from "../data/books";
const { book } = Astro.params;

const info = books.find((b) => b.title === book);
if (!info) {
  return Astro.redirect("/404");
}

const { id, title, opinion, img, author, pages } = info;
---

<Layout title=`Libro ${title}`>
  <main class="m-auto max-w-4xl flex flex-col">
    <BookSection
      id={id}
      title={title}
      opinion={opinion}
      img={img}
      author={author}
      pages={pages}
    />
    <CommentsSection />
  </main>
</Layout>
