---
import Layout from "../../layouts/Layout.astro";
import BookCard from "../../components/ListOfBooks/BookCard.astro";
import { books } from "../../data/books"


---

<Layout title="My books">
  <header>
    <a href="/">
      <h1
        class="scale-50 font-black uppercase text-6xl md:text-8xl text-center py-8 px-4 dark:text-white"
        transition:name="title"
      >
        Latest
        <span class="block text-[36px] md:text-[58px]">My Books</span>
      </h1>
    </a>
  </header>
  <main class="m-auto max-w-4xl flex flex-col">
    <ul class="flex flex-col gap-8 px-4" >
      {
        books.map((book) => {
          return (
            <li>
              <BookCard 
                transition:name={`book ${book.id} box`}}
                id={book.id}
                title={book.title}
                img={book.img}
                author={book.author}
                pages={book.pages}
              />
            </li>
          );
        })
      }
    </ul>
    
  </main>
</Layout>
